.wrapper {
	width: 800px;
	margin: 0 auto;
}

.transform,
.transition,
.animation {
	border: 1px solid #999;
	margin: 20px 0;
	padding: 0 0;
}

.box {
	width: 200px;
	height: 200px;
}

.b1 {
	background-color: #80e1d4;
	/*green*/
}

.b2 {
	background-color: #9696ff;
	/*purple*/
}

.b3 {
	background-color: #85e1f4;
	/*blue*/
}

.b4 {
	background-color: #e89380;
	/*orange*/
}

/*********************************************************************
							Transtion
*********************************************************************/

.transition .b1{
	transition: width 1s ease-in-out;
}

.transition .b1:hover{
	width:400px;
	height: 150px;
}

.transition .b2{
	transition: width 1s, height 0.5s;
	transition-delay: 0.5s;
}

.transition .b2:hover{
	width: 250px;
	height: 250px;
}

.transition .b3{
	transition: transform 2s cubic-bezier(.2,-0.22,.73,1.39) .5s;
}

.transition .b3:hover{
	transform: rotate(320deg);
}

.transition .b4{
	transition: all 1s ease-in-out 0.3s;
}

.transition .b4:hover{
	transform: rotate(320deg);
	border-radius: 50%;
	background-color: #9696ff;
}

/*********************************************************************
							Transform
*********************************************************************/
.transform .box{
	transition: transform .5s;
}

.transform .b1{
	transform: rotate(60deg);
	transform-origin: bottom right;
}

.transform .b1:hover{
	transform: rotate(0deg);
}

.transform .b2:hover{
	transform: translate(20px,20px);
}

.transform .b3:hover{
	transform: scale(1.5);
	
}

.transform .b4{
	transform: skewX(10deg) translateX(30px);
	
}

.transform .b4:hover{
	transform: skewX(0);
}

/*********************************************************************
							Animation
*********************************************************************/

